<main>
    <div class="card">
        <div class="container">
            <h2>Username: {{user.username}}</h2>
            <h2>First Name: {{user.firstName}}</h2>
            <h2>Last Name: {{user.lastName}}</h2>
            <h2>Profession: {{user.profession}}</h2>
            <h2>Biography:</h2>
            <p>{{user.bio}}</p>
        </div>

    </div>

    <a class="btn" href="/logout">Logout</a>
</main>